#root {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.hover-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dashboard-section{
  /* width: 100vw; */
  padding: 0 !important;
  margin-top: 90px;
}


/* body{
  padding-left: 0 !important;
  padding-right: 0 !important;
} */

.react-resizable{
  min-height: 100% !important;

  & > div{
    min-height: 100% !important;
  }
}

.file-browser-wrapper{
  display: flex;
  justify-content: space-between;
  /* width: calc(100vw - 20%); */
  width: 100%;
  height: 100% !important;
}

.MuiBox-root{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.file-tree-container{
  width: 20%;
  border: 1px #E0E0E0 solid;
  padding-top: 84px;
  position: relative;

  /* &::before{
    content: "Explorer";
    position: absolute;
    top: 52px;
    left: 40px;
    font-size: larger;
  } */
}



.file-browser-container{
  width: 80%;
}

.gray-bg {
  background-color: #f2f2f2 !important;
}

.project-name,
.project-id {
  width: 35%;
}

.project-last-update {
  width: 20%;
}

.project-actions {
  width: 10%;
}

.main-table {
  table-layout: fixed;
  padding: 0 20px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust based on the size you want */
}

.hidden {
  display: hidden;
}
