#root {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.hover-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.gray-bg{
    background-color: #F2F2F2 !important;
}

.project-name, .project-id{
    width: 35%;
}

.project-last-update{
    width: 20%;
}

.project-actions{
    width: 10%;
}

.main-table{
    table-layout: fixed;
    padding: 0 20px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust based on the size you want */
}
