#root {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.hover-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dashboard-section {
  /* width: 100vw; */
  padding: 0 !important;
  margin-top: 50px;
}

.react-resizable {
  min-height: 100% !important;
  max-width: 100%;
}

.react-resizable > div {
  min-height: 100% !important;
}

.file-browser-wrapper {
  display: flex;
  position: relative;
  top: -10px !important;
  width: 100%;
  height: 600px !important;
  /* Adjust based on your header height */
  overflow: hidden;
}

.MuiBox-root {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.file-tree-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  min-width: 20%;
  /* Minimum width */
  border: 1px #e0e0e0 solid;
  overflow-y: hidden;
  /* Enable vertical scrolling */
  overflow-x: hidden !important;
  border-top-left-radius: 10px;
}

#root,
body {
  height: unset !important;
  min-height: unset !important;
}

.file-browser-container {
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 80%;
  height: 600px;
}

.scrollable-content {
  margin-top: 7px !important;
  max-height: calc(100% - 84px);
  /* Limit the height for scrolling */
  overflow-y: auto;
  /* Enable vertical scrolling */
}

.gray-bg {
  background-color: #f2f2f2 !important;
}

.project-name,
.project-id {
  width: 35%;
}

.project-last-update {
  width: 20%;
}

.project-actions {
  width: 10%;
}

.main-table {
  table-layout: fixed;
  padding: 0 20px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  /* Adjust based on the size you want */
}

.hidden {
  visibility: hidden !important;
}

.load-button {
  background-color: white !important;
  padding: 10px;
  position: absolute;
  width: 99%;
  bottom: 0px;
  margin-bottom: 1px;
  margin-right: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px !important;
  border: 0px;
  color: #999797;
  font-size: large;
}

.load-button:hover {
  text-decoration: underline;
}

.unscrollable {
  overflow: hidden !important;
}

.chonky-navbarContainer {
  & > button {
    color: white !important;
    &:disabled {
      color: #b0b0b0 !important;
    }
    & * svg {
      width: 25px !important;
      height: 25px !important;
    }
  }
}

.custom-chonky-navbar {
  height: 100% !important;
  padding: 0px !important;
}

.custom-file-tree-navbar {
  height: 156px !important;
  background-color: #1a72f9;
  margin: 0px !important;
  margin-right: -10px !important;
  border-top-left-radius: 10px;
  border: 10px;
  border-color: #999797;
}

.new-chonky-navbar {
  border: solid 2px #e0e0e0 !important;
  border-bottom: solid 1px #e0e0e0 !important;
  border-left: 0px !important;
  width: 100%;
  height: 155px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1a72f9;
  padding: 0px !important;
  border-top-right-radius: 10px !important;
}

/*.new-chonky-navbar * {
}*/

.chonky-navbarBreadcrumbs {
  & * span {
    font-size: 30px !important;
    color: white;
    text-decoration: underline !important;
  }
  & * svg {
    width: 35px !important;
    height: 30px !important;
  }
}

.chonky-toolbarRight {
  & > button {
    background-color: white;
  }
}

.chonky-toolbarWrapper {
  margin-top: 60px !important;
  margin-right: 5px !important;
}

.analytics-dashboard-nav {
  background-color: #1a72f9;
  margin: 0px !important;
  height: 156px !important;
  color: white;
  & > button {
    font-size: 50px !important;
  }
  border-top-right-radius: 10px;
}

.analytics-dashboard-nav * {
  font-size: 25px !important;
}

.chonky-iconWithText {
  color: white;
}
