.file-upload-wrapper {
    padding: 0 var(--customize-section-padding);
    text-align: start;
}
  
.file-upload-title {
    margin-bottom: 1rem; /* Adjust as needed */
}

.tabs-new-project {
    background: #ffffff;
    padding: 10px;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.2); /* Inner shadow effect */
    border-radius: 8px; /* Smooth corners */
  }
  