.graph-wrapper {
    position: relative;
    border: 1px solid hsla(220, 20%, 25%, 0.6);
    width: min-content;
    padding: 10px;
    border-radius: 10px;
}

.graph-title {
    margin-bottom: 0px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}