.custom-main {
  width: 80vw !important;
  height: 90vh !important;
  margin-bottom: 90px !important;
  padding: 0 !important;
  margin-top: 50px !important;
  position: absolute !important;
  top: 0px !important;
  right: 0px !important;
  position: relative !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent grey */
  z-index: 9997;
  border-radius: 0 !important;
}

/* Highlighted div */
.highlighted-div {
  position: relative;
  z-index: 9999; /* A very high z-index to make sure it's above everything */
  background-color: white;
  padding: 20px;
  width: 300px;
  margin: 100px auto; /* Centered horizontally */
}

.pdf-viewer {
  border: 0;
  display: inline-block !important;
  width: 100%;
  height: 100%;
}

.pdf-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
